<h1>Search Results:</h1>
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% @listings.each do |listing| %>
    <div class="responsive">
      <div class="gallery">
        <% if !listing.images.empty? %>
        <%= link_to image_tag(listing.images.first.image.thumb.url), listing%>
        <% end %>
        <div class="desc">RM<%= listing.price %> <%= listing.name %> <%= listing.address%></div>
      </div>
    </div>
   <% end %>
  </div>
</div>
