<div class="jumbotron">
  <h1>Auction House</h1><br>
  <div class="container-fluid">
    <%= form_tag search_path, method:"get", :class=>"form-inline" do |f| %>
      <div class ="form-group">
        <div class='input-group date', id="searchTextField2">
          <%= text_field_tag :term, params[:term], id:"autocomplete2", placeholder:"Enter a place", class:"form-control"%>
            <button class="input-group-addon", type="submit", id="search">
            <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
      </div>
    <% end %>

    <script type="text/javascript">

        function initialize() {
          var input = document.getElementById('autocomplete2');
          var autocomplete = new google.maps.places.Autocomplete(input);
        };

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </div>
</div>

  <br><br>
  <div class = "container-fluid">
  <h2>New Listings</h2>
  <% @listings.each do |l| %>
    <%= link_to l.name, listing_path(l) %>
  <% end %>
</div>
